[Unit]
Description=Plex Wake On Lan Service

[Service]
User=root
Type=simple
TimeoutSec=0
PIDFile=/var/run/hosting.pid
ExecStart=/bin/bash /home/ubuntu/AdvancedMonitor/bin/service
KillMode=process

Restart=on-failure
RestartSec=42s

[Install]
WantedBy=default.target
